*{
    margin: 0;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}

header{
    background-color:#63BCC9;
    padding: 3px;
    border-radius: 10px;
}

header h1{
    padding-top: 3px;
    font-size: 30px;
}

header nav{
    padding-bottom:20px ;
}

nav > a{
    color: #070808;
    padding: 5px;
    border-radius: 10px;
    transition-duration: 0.7s;
}
nav > a:hover{
    background-color: rgba(194, 120, 120, 0.664)
}

main{
    background-color: #FFBE88;
}

iframe{
    background-color: #CDB3D4;
    border-radius: 10px;
}    

footer{
    background-color: rgb(112, 95, 160);
}

#ImgRedonda{
    height: 250px;
    height: 250px;
    border-radius: 50%;
}

table{
    width: 100%;
    margin-bottom : .5em;
    table-layout: fixed;
    text-align: center;
  }

div{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#Identificação h2{
    background-color: rgb(100, 65, 228);
}

#Hobbies h2{
    background-color: rgb(100, 65, 228);
}

#Experiência h2{
    background-color: rgb(100, 65, 228);
}

#Formação h2{
    background-color: rgb(100, 65, 228);
}
